@keyframes rgb{
  0%,  100% { color: red;}
  10% { color: rgb(255, 102, 0);}
  20% { color: rgb(255, 251, 0);}
  30% { color: rgb(81, 255, 0);}
  40% { color: rgb(0, 167, 22);} 
  50% { color: rgb(0, 255, 242);}
  60% { color: rgb(17, 60, 255);}
  70% { color: rgb(111, 0, 255);}
  80% { color: rgb(183, 0, 255);}
  90% { color: rgb(255, 0, 255);}
  }

html, body{
  margin: 0;
  padding: 0;
  height: 1183px;
  background-image: linear-gradient(to top, #00b3aa, #000000);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}

.separated{
 height: 100%;
 width: 100%;
 display: flex;
 flex-direction: column;
}

.head-bar{
  background-color: rgb(31, 40, 51);
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px 0 10px;
  border-bottom: solid 1px rgb(102, 252, 241);
  z-index: 3;
  position: fixed;
  height : 70px;
}

.left-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-page{
  font-weight: 600;
  font-size: 28px;
  color: rgb(255, 255, 255);
  margin-left: -10px;
}
.middle-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.home-link, .about-link, .goals-link{
  border: solid 2px rgb(102, 252, 241);
  background-color: rgb(15, 19, 24);
  color: white;
  text-decoration: none;
  margin: 15px;
  padding: 5px 10px;
  border-radius: 5px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 27px;
  width: 80px;
}
.home-link:hover, .about-link:hover, .goals-link:hover {
  box-shadow: 0 0 10px 3px rgb(0, 238, 255);
  background-color: rgb(30, 169, 187);
  cursor: pointer;
}



.right-section{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.Contact-button{
  color: white;
  background-color: rgb(15, 19, 24);
  padding: 10px ;
  border-color: rgb(102, 252, 241);
  font-size: 15px;
  border-radius: 30px;
  border: solid 1px cyan;
  white-space: nowrap;
}
.Contact-button:hover{
  cursor: pointer;
  color: rgb(15, 19, 24);
  background-color: white;
  box-shadow: 0 0 6px 2px cyan;
}

.centre{
  width: 1000px;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
  padding: 0px;
  flex: 1;
  margin-top: 61px;
}
.hello-world{
  font-size: 120px;
  white-space: nowrap;
  line-height: 84px;
  margin-top: 80px;
  margin-bottom: 35px;
  text-shadow: 0;

  animation: rgb 10s linear infinite forwards ;
}

.content{
  width: 100%;
  color: white;
  font-size: 23.5px;
  flex: 1;
  background: rgba(31, 40, 51, 0.5);
  backdrop-filter: blur(10px);
  margin: 0;
  padding: 28px;
  display: flex;
  flex-direction: column;
}

p{
  margin: 0;
  padding: 0;
}

.footer{
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 10px;
  height: max-content;
  border-top: solid 1px cyan;
  background: rgba(13, 16, 19, 0.8);
  backdrop-filter: blur(20px);

}

.Feedback{
  border: solid 1px cyan;
  height: max;
  width: 260px;
  background-color: white;
  padding: 10px;
  padding-bottom: 20px;
  background: rgb(13, 16, 19, 0.1); /*rgba(6, 7, 8, 0.9)*/
  backdrop-filter: blur(20px);
}

.Feedback-title{
  font-size: larger;
  font-weight: bold;
  color: rgb(30, 255, 0);
  margin: 0;
}
.Feedback-text{
  padding: 20px 0;  
  margin: 0;
  color: white;
}
    
input{
  background-color: white;
  border: cyan solid 1px;
  padding: 0;
  margin: 0;
  width: 200px;
  height: 20px;
}
